@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Hide scrollbar for chrome */
body::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

@font-face {
    font-family: myfont;
    src: url(https://res.cloudinary.com/djcmgdn0x/raw/upload/v1699363432/MonumentExtended-Regular_ttf_xvv89n.ttf);
    font-weight: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'myfont', sans-serif;
    color: rgb(255, 255, 255);
    overflow-x: hidden;
}

body,
html {
    width: 100%;
    height: 100vh;
}

*::selection {
    background-color: #fff;
    color: #000000;
}

#main {
    width: 100%;
    background-color: transparent;
}

#home {
    width: 100%;
    min-height: 100vh;
    mix-blend-mode: difference;
}

#nav {
    width: 100vw;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#nav img {
    padding: 0;
    margin: 0;
    width: 60px;
}
#nav img:hover{
    filter: drop-shadow(0 0 0.75rem rgba(255, 255, 255, 0.519));
}

#right {
    padding: 10px 0px;
}

#right a {
    font-weight: 1000;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 0px;
    margin-bottom: 3px;
    font-size: 22px;
    padding-bottom: 0;
    color: transparent;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    transition: 0.2s ease-in-out;
}

#right a:hover {
    color: rgb(255, 255, 255);
    filter: drop-shadow(5 5 0.75rem rgba(255, 255, 255, 0.519));
    border-radius: 100%;

}

#right i {
    font-size: 36px;
}

#home-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9em 10em;
}

#heading {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#heading h1 {
    font-size: 54px;
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    font-weight: 100;
    letter-spacing: 8px;
}

#home-main h4 {
    font-size: 42px;
    font-weight: 50;
    color: rgba(255, 255, 255, 0.342);
    background-image: url(https://media0.giphy.com/media/9JxkPTP3alOykb8PmQ/giphy.gif?cid=ecf05e47stdvc0o8s3pnh651c23isusuhhw1lbw8fp7cngir&ep=v1_gifs_search&rid=giphy.gif&ct=g);
    -webkit-background-clip: text;
    background-repeat: no-repeat;
}

/* #logo {
    animation: logo-animate 2s ease-in-out;
} */

/* @keyframes logo-animate {
    from {
        transform: scale(10);
    }

    to {
        transform: scale(1);
    }
} */
#my-video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    filter: blur(25px);
    z-index: -1;
    transform: scale(1.5);
}

hr {
    width: 10%;
    margin-left: 50%;
    margin-right: 50%;
    transform: translate(-50%, -50%);
    margin-bottom: 8px;
}
#home-last{
    font-size: 0.65rem;
    text-align: center;
    padding: 0em 15em;
    letter-spacing: 2px;
}

.feature-project{
    padding: 9em 10em;
    mix-blend-mode: difference;
}
#fhead h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}

/* Mobile Responsiveness */
@media only screen and (max-width: 768px){
    #home-main:nth-child(1) {
        padding: 11em 3em;
        flex-direction: row;
      justify-content: left;
 
     
    }
    #home-main{
        padding-top: 5em;
    }

    #home-main h4{
        font-size: 48px;
        letter-spacing: 3px;
        width: 100vw;
        padding: 1px 18px;
        color: rgba(255, 255, 255, 0.342);
        background-image: url(https://media0.giphy.com/media/9JxkPTP3alOykb8PmQ/giphy.gif?cid=ecf05e47stdvc0o8s3pnh651c23isusuhhw1lbw8fp7cngir&ep=v1_gifs_search&rid=giphy.gif&ct=g);
        -webkit-background-clip: text;

    }
    #heading{
        flex-direction: column;
        padding: 1em 1.2em;
        width: 100vw;
    }
    #heading h1{
        letter-spacing: 3px;
        font-size: 58px;
    }

    #home-last{
        padding: 2em 2em;
    }
    #home-last p{
        text-align: left;
        font-size: 0.65rem;
        text-transform: lowercase;
        text-rendering: geometricPrecision;
        line-height: 14px;
    }


    .feature-project{
        width: 100vw;
        padding: 11em 1.2em;
    }

}